/* MAINCONTAINER MARGINS */
/* left & right maincontainer margins */
/* top mainbox margin

/* TEXT SETINGS */
/* body font family */
/* h1 in maincontainer font size */
/* h1 in maincontainer font weight */
/* p in maincontainer font family */
/* p in maincontainer font weight */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,700,800&display=swap&subset=latin-ext");
body {
  font-family: "Nunito Sans", sans-serif;
  background: url("https://appmpm.ct8.pl/bg_app_one.png") fixed;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-right: 0;
  margin-left: 0;
}

.back-arrow {
  margin-top: 3vh;
  margin-left: 2vh;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-top: 5vh;
  word-wrap: break-word;
  margin-left: 8vw;
  margin-right: 8vw;
}

.main-container h1 {
  font-weight: 800;
  font-size: 5vh;
  width: 100%;
  height: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-container p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}

.image img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.dotstyle ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 7px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #eb3223;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}

.dotstyle li a:focus {
  outline: none;
}

.dotstyle-fillin li a {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #eb3223;
          box-shadow: inset 0 0 0 2px #eb3223;
  -webkit-transition: box-shadow 0.3s ease;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.dotstyle-fillin li a:hover,
.dotstyle-fillin li a:focus {
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
          box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.dotstyle-fillin li.current a {
  -webkit-box-shadow: inset 0 0 0 8px  #eb3223;
          box-shadow: inset 0 0 0 8px  #eb3223;
}

.dotstyle-fillin {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-bottom: 5vh;
}
/*# sourceMappingURL=style.css.map */